.loader_bg{
  position: fixed;
  z-index: 999999;
  background:rgb(231,254,255);
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* transition: all 5s linear; */
}
.lodiv{
  width: 80%;
  display: flex;
  align-items: center;
}

/* .preimg{
  height: 75px;
  width: 70px;
} */
.loader{
  border: 0 soild transparent;
  /* border-radius: 50%; */
  width: 250px;
  height: 400px;
  font-weight: bold;
  /* position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 125px); */
  font-size: 65px;
  color: #04203e;
  color: white;
}
.loadpara{
  font-size: 60px;
  color:   black;
  color: yellow;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px){
  .loader{
    font-size: 48px;
  }
  .loadpara{
    font-size: 35px;
  }

}


body {
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
 body{
    overflow-x: hidden;
    /* background:linear-gradient(to left,#0505bd 10%, #00aae4 90%); */
 }
.mainpage {
    height: 100vh;
    width: 100%;
    /* background: url(allimage/background22.jpg) no-repeat center center / cover; */
    background-color: rgb(220,220,220);
    
}
.event-main-heading{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.event-main-heading h1{
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 55px;
}
.about-blank{
  background-color: black;
  height: 20vh;
  width: 100%;
}


.about-blank-1{
  background-color: black;
  height: 10vh;
  width: 100%;
}
/* @media screen and(max-height:500px){
  .about-blank{
    height: 35vh;
  }
  .event-main-heading{
    height: 20vh;
  }

} */
@media (max-width:920px){
  .event-main-heading{
    height:10vh ;
  }
  .about-blank{
    height: 85px;
  }
}
  /* Below 560px  */
   @media (max-width: 35em) {
    .header {
      padding: 0 2.4rem;
    }
  
    .header .logo {
      width: 10%;
    }
  } 
.btn-1 {
    background-color: black;
    border: 2px solid aqua;
    border-radius: 2rem;
    position: relative;
    top: 11rem;
    left: 11rem;
    height: 4.5rem;
    width: 16rem;
    color: white;
    

}
.btn-2 {
    position: relative;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 2rem;
    color: white;
    top: 20rem;
    left: -6rem;
    height: 4.5rem;
    width: 16rem;
}

/* dropdown */
.navbar-list-2 {
    position: absolute;
     top: 8.5rem;
     opacity: 1;
    visibility: hidden;
    list-style: none;
}
.navbar ul li:hover > ul{
    top: 7rem;
    opacity: 1;
    visibility: visible;
    transition: .3s Linear;
}


.navbar-link-2 {
    width: 15rem;
    display: List-item;
    position: relative;
   
    
}
.navbar-link-2 a{
    color: white;
    text-decoration: none;
} 

.afterheader {
    height: 83vh;
    /* background: url(allimage/background22.jpg) no-repeat center center / cover; */
    
}

.team-head{
  height: 12vh;
  width: 50%;
  background-color: rgb(255, 254, 254);
  background: linear-gradient(to left,rgb(255,255,0), rgb(255,69,0));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 25px;
  /* border-radius: 50px; */
  transition: all 3s linear;
  /* animation: changeSize 4s linear infinite; */
}
#batch-0{
  
  background: linear-gradient(to left,rgb(255,0,144),  rgb(139,0,139));
}
#batch-1{
 
  background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0));
}
.team-head h1{
  
  color:rgb(0, 0, 0);
  
  
  width: 400px;
  
  text-align: center;
  
  
  
  

}
@media screen and (max-width: 768px){

  .team-head{
    width: 75%;
    height: 9vh;
    font-size: 18px;
  }
  .team-head h1{
    text-align: left;
    position: relative;
    left: 10px;
  }
}
 /* @keyframes changeSize {
  0% {
      
      background-color: rgb(255, 255, 255);
      
  }
  50% {
      
      background-color: rgb(99, 98, 98);
      
  }
  100% {
      
      background-color: #ffffff;
      
  } 
 

} */
.myteam-1{
	display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   /* background: rgb(102,102,153); */
   background: rgb(0,0,0);
 
}
.head11 {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: end;
  flex-direction: column;
	/* background-color:  rgb(102,102,153); */
  background: rgb(0,0,0);
  /* position: relative; */
  /* top: 100px; */
}
.head11 h1 {
	font-size: 45px;
	color: white;
  text-align: end;
}
.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   
}
.container .card
{
   width: 300px;
   position: relative;
   height: 415px;
   /* padding: 15px 10px; */
   margin: 20px;
   margin-bottom: 100px;
   /* background: linear-gradient(rgba(255, 255, 255, 0.638) 0%, rgba(0, 0, 0, 0.307) 100%); */
 
               box-shadow: -15px -15px 15px rgba(246, 255, 0, 0.2),
               15px 15px 15px rgb(0,0,0,0.1),
              inset -5px -5px 5px  rgba(246, 255, 0, 0.2),
               inset 5px 5px 5px rgb(0,0,0,0.1);
    /* background-color: rgb(102,102,153); */
    background-color: black;
   border-radius: 10px;
   transition: all 0.5s linear;

   /* border: 7px solid white;  */
   
}

#batch-20 .card{
  box-shadow: -15px -15px 15px rgb(255,0,144,0.2),
  15px 15px 15px rgb(0,0,0,0.1),
 inset -5px -5px 5px   rgb(255,0,144,0.2),
  inset 5px 5px 5px rgb(0,0,0,0.1);

}
#batch-21 .card{
  width: 265px;
  
  height: 315px;
  
               box-shadow: -15px -15px 15px rgba(46, 194, 248, 0.2),
               15px 15px 15px rgb(0,0,0,0.1),
              inset -5px -5px 5px  rgba(46, 194, 248, 0.2),
               inset 5px 5px 5px rgb(0,0,0,0.1);
    
  

}
.container .card:hover{
  
  /* border: 7px solid darkslategray; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.773) 0%, rgba(255, 255, 255, 0.374)  100%); */
  /* background: linear-gradient(black 0%, black  100%); */

  /* box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff; */
  /* background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0)); */
  color: black;
  
  transform: rotate(4deg);
  /* background: linear-gradient(rgb(255,0,0),   rgb(255,64,64),rgb455,0,0)  ); */
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3),
               15px 15px 15px rgb(255,255,255,0),
              inset -4px -4px 4px rgb(246, 246, 247),
               inset 4px 4px 4px rgb(252, 252, 253);
  
  
}

#batch-20 .card:hover{
  /* background: linear-gradient(to left,rgb(255,255,0), rgb(255,69,0)); */
  transform: rotate(4deg);

  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3),
               15px 15px 15px rgb(255,255,255,0),
              inset -4px -4px 4px rgb(246, 246, 247),
               inset 4px 4px 4px rgb(252, 252, 253);
}
#batch-21 .card:hover{
  /* background: linear-gradient(to left,rgb(255,0,144),  rgb(139,0,139)); */
  transform: rotate(4deg);

  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3),
               15px 15px 15px rgb(255,255,255,0),
              inset -10px -10px 10px rgb(246, 246, 247),
               inset 10px 10px 10px rgb(252, 252, 253);
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 390px;
}
.container .card .content .imgBx
{
   width: 205px;
   height: 225px;
   /* border-radius: 50%; */
   border-radius: 10px;
   

   position: relative;
   margin-bottom: 15px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;

}

#batch-21 .card .content .imgBx{
  width: 150px;
  height: 150px;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   
   /* object-fit: cover; */
   transition: all 0.4s linear;
}
/* .container .card:hover .content .imgBx img{
  border-radius: 100%;
} */
.container .card .content .contentBx{
  position: relative;
  width: 100%;
  height: 60px;
}
.container .card .content .contentBx h4,.container .card .content .contentBx h5{
  z-index: 15;
}

/* .container .card .content ::before{
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 0%;
  transition: all 2s linear;

}
.container .card .content:hover::before{
  width: 100%;
  background-color: rgba(255, 166, 0, 0.713);
} */
.container .card .content .contentBx h4
{
   color: rgb(220,220,220);
   color: white;
   
   font-size: 2.4rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   /* font-family: 'Kalam', cursive; */
   font-family: 'Alata', sans-serif;
 
   
}


.container .card .content .contentBx h5
{
   color:#8a8989;
   
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   font-family: 'Kalam', cursive;
   
}
.container .card:hover .content .contentBx h4{
  color: white;
  color:transparent;
  -webkit-text-stroke: 0.15px #fff;
  background: url(myimage/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation:back 10s linear infinite;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.container .card .content .sci
{
   margin-top:5px;
   height: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: rgb(220,220,220);
   font-size: 30px;
   margin: 20px;
   
   transition: color 0.4s;
}
.container .card:hover .content .sci a{
  color:white;
}
.container .card .content .sci a:hover
{
   color: rgb(11, 133, 247);
   

}
/* .container .card:hover > .content .contentBx h4{
  color: blue;
} */
 @media (max-width: 672px) {
	/* .container .card {
		width: 246px;
		height: 290px;
		padding: 8px 0px;
	}
	.container .card .content .contentBx h4 {
		font-size: 1rem;
	}
	.container .card .content .sci a {
		margin: 5px;
	}
	.head11 h1 {
		font-size: 45px
	}
	#eventh1 {
		font-size: 45px
	}  */
  .container .card{
    margin-bottom: 150px;
  }

}


/* contact section style */

.contact-section{
  height: 65vh;
  background-color:  rgb(0,0,0);
  z-index: 8;
  display: flex;
  color: white;
}
.cont-1{
  height: 65vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.cont-1 img{
  height: 70px;
  width: 70px;

}
.cont-23{
  height: 65vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  
}
.cont-2{
  height: 65vh;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  

  
}
.cont-3{
  height: 65vh;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cont-2 h2,.cont-3 h2{
  font-size: 23px;
}
.cont-3 ul , .cont-2 ul {
  list-style: none;

}
.cont-3 ul li , .cont-2 ul li{
   margin-top: 10px;
}
.cont-3 ul li a, .cont-2 ul li a{
  text-decoration: none;
  margin-bottom: 10px;
  color: rgb(152, 150, 150);
  font-size: 17px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.cont-3 ul li a{
  font-size: 15px;
}
.cont-3 ul li a:hover, .cont-2 ul li a:hover{
  color:   rgb(245,255,250);
  
}

.contact-section .cont-4{
  height: 65vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.contact-section .cont-4 h1{
  color:white;
  font-family: 'Open Sans', sans-serif;
}
.contact-section .cont-4 ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  

  
}
.contact-section .cont-4 ul li{
   margin: 12px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: aqua; */
    /* border: 2.5px solid white; */
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact-section .cont-4 ul li:hover{
  background-color:rgb(6, 203, 203);
  color: white;
}
.contact-section .cont-4 ul li a{
  font-size: 30px;
  color: rgb(238, 236, 236);
  
}
.contact-section .cont-4 ul li a:hover{
  color: white;
}
.cont-lo-div{
  height: 50vh;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cont-lo-div-1{
  height: 25%;
  width: 1.5px;
  background-color: rgb(176, 172, 172);
}
@media(max-width: 920px){
  .contact-section{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    min-height: 800px;

  }
  .cont-1{
    width: 100%;
    height: 20vh;
    min-height: 150px;
  }
  .cont-lo-div{
  height: 20vh;
  width: 10%;
  
}
.cont-lo-div-1{
  height: 50%;
  width: 3px;
  background-color: white;
}
  .cont-23{
    width: 100%;
    height: 60vh;
    flex-direction: column;
    min-height: 520px;
  }
  .cont-2{
    height: 25vh;
    min-height: 255px;
    width: 100%;
    align-items: flex-start;
    /* margin-left: 45px; */
  }
  .cont-2 ul,.cont-3 ul{
    margin-left: 35px;
  }
  .cont-2 h2,.cont-3 h2{

    margin-left: 20px;
  }
  .cont-3{
    height: 35vh;
    width: 100%;
    min-height: 255px;
    align-items: flex-start;
    /* margin-left: 45px; */
  }
  .contact-section .cont-4{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-section .cont-4 ul{
    width: 100%;
  }
  
  .contact-section .cont-4 ul li{
    margin: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section .social-icons{
    width: 100%;
  }
  .contact-section .cont-4 ul li a{
    font-size: 20px;
    /* color: white; */
   
   
  }
  .cont-4 h1{
    font-size: 22px;
    width: 100%;
    text-align: center;
  }
}

.last-div{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;

}
.hor-line{
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hor-line-1{
  height: 2px;
  width: 85%;
  background-color: rgb(85, 84, 84);
}

.cl-gmail{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  width: 100%;
  flex-direction: column;
}
.cl-gmail h2{
  color: white;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
.cl-gmail h4{
  color: rgb(152, 150, 150);
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}

.blank-space{
  background: black;
  height: 5vh;
}