*{
    margin: 0;
    padding: 0;
    
}
.box{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allevents{
    height: 80vh;
    width: 80%;
    
    position: absolute;
    display: flex;
    
    
    



}
.line11{
    background-color: purple;
    height: 80vh;
    width: 12%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
}
/* .line11 .ll1, .line11 .ll2 img{
    visibility: hidden;
    display: none;
} */

.line12{
    background-color: orange;
    height: 80vh;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.line13{
    background-color: violet;
    height: 80vh;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.line14{
    background-color: cyan;
    height: 80vh;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.line15{
    background-color: maroon;
    height: 80vh;
    width: 52%;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.ll1,.ll2,.ll3,.ll4{
    width: 75%;
    height: 15vh;
    background-color: blue;
    visibility: hidden;
    display: none;
}
.ll1a,.ll2a,.ll3a,.ll4a{
    width: 75%;
    height: 50vh;
   

}
/* .line11 .ll1{
    visibility: hidden;
    display: none;
} */
.line11 .ll1a img{
    height:50vh ;
    width: 100%;
    visibility: hidden;
    display: none;
}
.line12 .ll2a,.line13 .ll3a,.line14 .ll4a{
    height: 50vh;
    width: 75%;
    background-color: red;
    overflow: hidden;
    visibility: hidden;
    display: none;
    background: url('myimage/background22.jpg')  no-repeat center center / cover;
}
.ll2a img{

}
.line11:hover .ll1, .line11:hover .ll1a img,.line12:hover .ll2, .line12:hover .ll2a,.line13:hover .ll3, 
.line13:hover .ll3a,.line14:hover .ll4, .line14:hover .ll4a{
    visibility: visible;
    display: block;
}

.line152{
    
    height: 80vh;
    width: 12%;
    transition: 1s;
    
}

.line112{
    
    height: 80vh;
    width: 52%;
    transition: 1s;
}
/* .line12:hover {
    width:52% ;
} */

/* .line11:hover, .line12:hover, .line13:hover,.line14:hover{
    width: 52%;
   
    transition: 2s;
}
.line11:hover~.line15, .line12:hover~.line15, .line13:hover~.line15,.line14:hover~.line15{
    
    width: 12%;
    transition: 2s;
} */
