*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body {
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	/* background-color: red; */
	background:linear-gradient(#00008b 10%, #4b0082 90%);
} 

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .logo1 {
	/* float: left; */
	width: 15px;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
	position: absolute;
	left: 125px;
}
nav .logo img{
	height: 55px;
	width: 55px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0.4em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
nav .links a:hover{
	border-bottom: 3px solid white;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
.container12 {

    width:200px;

    position: absolute;
    right: 60px;
    top: 120px;

}

.click{

    background:linear-gradient(#00008b 10%, #4b0082 90%);
    border-radius: 25px;

}

.click:hover {

    background:linear-gradient(#00008bc8 10%, #4c0082c2 90%);

}

.click,.links1 {

    padding: 12px;

    font-size: 1.2em;

    font-family: futura Md BT;

    border: none;

    outline: none;

    width:200px;

    color:#fff;

    transition: 0.3s;

}

.list {

    position: absolute;

    transform: scaleY(0);

    transform-origin: top;

    transition: 0.3s;

}

.newlist {

    transform: scaleY(1);

}

.links1 {

    background:linear-gradient(#c154c1 10%, #9400d3 90%);
    border-radius: 20px;

}

.links1:hover {

    background:linear-gradient(#0505bd 10%, #6f05ba 90%);

    transform: scale(1.1);

}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		/* justify-content: center; */
	}
	nav .logo1 {
		left: 95px;
		top: 7px;
		font-size: 20px;
		width: auto;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		/* background-color: rgba(0,0,0,.8); */
		background:linear-gradient(#00008b 10%, #4b0082 90%);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	

	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
	
}
.container11 {
	/* position: absolute; */
	height: 100vh;
	top: 0px;
	background: url('myimage/background22.jpg')  no-repeat center center / cover;
}
@media (max-width: 600px) {
	.container11 {
		background: url('myimage/smallbackground.jpg')  no-repeat center center / cover;
	}
}

/* .container11 img{

    height: 100vh;
	/* position: absolute;
	top: 0px; 
} */


.about {
	/* background-color: rebeccapurple; */
	height: 100vh;
	display: flex;


}
.abt-1 {
	background-color: rgba(128, 128, 128, 0.463);
	height: 100vh;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.abt-1-1 h1{
	position: relative;
    text-align: left;
    top: -43px;
    left: 49px;
	font-size: 45px;
}
.abt-1-2 {
	position: relative;
	text-align: center;
	background-color: white;
	height: 60vh;
	width: 120%;
	left: 35px;
	top: -5vh;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.abt-1-2 p {
	font-size: 21px;
	text-align: center;
	font-family: cursive;
}
.btn {
	background-color: #2a52be;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	height: 42px;
    width: 117px;
	
}
.abt-2 {
	background-color: #2a51bead;
	height: 100vh;
	width: 30%;
	z-index: -1;
}
@media  (max-width: 600px) 
{
	.abt-1-2 p {
		font-size: 16px;
	}
	.btn {
		height: 35px;
		width: 90px;
		font-size: 16px;
	}
	.abt-1-1 h1 {
		font-size: 30px;
	}
}

/* event section */


#eventh1 {
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background:linear-gradient(#0505bd 10%, #00aae4 90%);
	font-size: 65px;
	color: white;
}

.event-1{
	
	height: 100vh;
}
.event-1-1 {
	/* height: 10vh; */
	background-color: white;

}
.event-1-1 h1 {
	font-size: 50px;
}
.event-1-2 {
	height: 90vh;
	display: flex;
	background: url('myimage/spardha1back.jpg')  no-repeat center center / cover;
	
}
.event-1-2-1 {
	height: 90vh;
	/* background: linear-gradient(#d1bea8 0%,#00ced1 100%); */
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	


}
.event-1-2-1 img {
	height: 180px;
	width: 180px;
	margin: 10px;
	border-radius: 100%;
	border: 5px solid white;
}
.event-1-2-2 {
	height: 90vh;
	/* background-color: white; */
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	

}
.event-1-2-2 div {
	height: 60vh;
	width: 50%;
	/* border: 5px solid #d70040; */
	color: white;
	text-align: center;
	border-radius: 15px;
	box-shadow: 12px 12px #d7004012;
}
.event-1-2-2 h1 {
	font-size: 60px;
	margin-bottom: 15vh;
	color: #ff7e00;
}
.event-1-2-2 p{
	color:white;
	font-size: 25px;
	
}
.event-2{
	
	height: 100vh;
	display: flex;
	background: url('myimage/pratiback.jpg')  no-repeat center center / cover;
}
.event-2-1 {
	height: 100vh;
	/* background-color: white; */
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.event-2-1 div {
	height: 60vh;
	width: 50%;
	/* border: 5px solid #d70040; */
	text-align: center;
	border-radius: 15px;
	/* box-shadow: 12px 12px #d7004012; */
}
.event-2-1 h1 {
	font-size: 60px;
	margin-bottom: 15vh;
	color: #ff7e00;
}
.event-2-1 p{
	color:white;
	font-size: 25px;
}
.event-2-2 {
	height: 100vh;
	/* background-color: #d4d1ce; */
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
}
.event-2-2 img {
	height: 180px;
	width: 180px;
	margin: 13px;
	border-radius: 100%;
	border: 5px solid white;
}
.event-3{
	
	height: 100vh;
	display: flex;
	background: url('myimage/spardhaback.jpg')  no-repeat center center / cover;
}
.event-3-1 {
	height: 100vh;
	/* background-color: white; */
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.event-3-1 img {
	height: 180px;
	width: 180px;
	margin: 13px;
	border-radius: 100%;
	border: 5px solid white;
}
.event-3-2 {
	height: 100vh;
	/* background-color: white; */
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.event-3-2 div {
	height: 60vh;
	width: 50%;
	/* border: 5px solid #d70040;
	background-color: white; */
	text-align: center;
	border-radius: 15px;
	/* box-shadow: 12px 12px #d7004012; */
}
.event-3-2 h1 {
	font-size: 60px;
	margin-bottom: 15vh;
	color: #ff7e00;
}
.event-3-2 p{
	color: white;
	font-size: 25px;
	
}

.event-4{
	
	height: 100vh;
	display: flex;
}
.event-4-1 {
	height: 50vh;
	width: 100%;
	display: flex;
	background: url('myimage/spardha1back.jpg')  no-repeat center center / cover;
	
}
.event-4-1-1 {
	height: 50vh;
	
	width: 50%;
}
.event-4-1-1-1 {
	height: 30vh;
	width: 50%;
	/* border: 5px solid #d70040;
	background-color: white; */
	text-align: center;
	/* border-radius: 15px; */
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: center;
	
	/* box-shadow: 12px 12px #d7004012; */
}
.event-4-1-1-1 h1 {
	font-size: 60px;
	margin-bottom: 6vh;
	color: #ff7e00;
	position: relative;
	left:25%;
}
.event-4-1-1-1 p{
	color: white;
	font-size: 15px;
	position: relative;
	left: 25%;
}

.event-4-1-2 {
	height: 50vh;
	/* background-color:#d4d1ce; */
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.event-4-1-2 img{
	height: 180px;
	width: 180px;
	border-radius: 100%;
	border: 5px solid white;
}
.event-4{
	
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.event-4-2 {
	height: 50vh;
	width: 100%;
	display: flex;
	background: url('myimage/khokhoback.jpg')  no-repeat center center / cover;
	
}


.event-4-2-1 {
	height: 50vh;
	/* background: linear-gradient(rgba(236, 24, 59, 0.919) 0%, #efd9ea 100%); */
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.event-4-2-1 img{
	height: 180px;
	width: 180px;
	border-radius: 100%;
	border: 5px solid white;
}
.event-4-2-2 {
	height: 50vh;
	/* background-color: white; */
	width: 50%;
}
.event4-2-2 div {
	height: 30vh;
	width: 65%;
	/* border: 5px solid #d70040;
	background-color: white; */
	
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* box-shadow: 12px 12px #d7004012; */
}
.event-4-2-2 h1 {
	font-size: 60px;
	margin-bottom: 15vh;
	color: #ff7e00;
	text-align: center;
}
.event-4-2-2 p{
	color: white;
	font-size: 15px;
}

@media (max-width: 600px){

	.event-1 img, .event-2 img, .event-3 img, .event-4 img {
		height: 130px;
		width: 130px;
	}
	.event-1 h1, .event-2 h1, .event-3 h1, .event-4 h1 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	.event-1 p, .event-2 p, .event-3 p, .event-4 p {
		font-size: 16px;
		
	}
}
@media (max-height: 450px) {
	.event-1 h1, .event-2 h1, .event-3 h1, .event-4 h1 {
		font-size: 25px;
		margin-bottom: 1px;
	}
	.event-1 p, .event-2 p, .event-3 p, .event-4 p {
		display: none;
		
	}


	
}
	


/* team section */
.blanksp {
	height: 25px;
}
.myteam-1{
	display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: white;
}
.head11 {
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background:linear-gradient(#0505bd 10%, #00aae4 90%);
}
.head11 h1 {
	font-size: 65px;
	color: white;
}
.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 210px;
   height: 292px;
   padding: 60px 30px;
   margin: 20px;
   background: linear-gradient(rgba(236, 24, 59, 0.919) 0%, #000080 100%);
   /* box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff; */
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 110px;
   height: 110px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: white;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: white;
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: white;
   font-size: 30px;
   margin: 5px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
   color: #0196e3;
}
@media (max-width: 519px) {
	.container .card {
		width: 138px;
		height: 271px;
		padding: 8px 0px;
	}
	.container .card .content .contentBx h4 {
		font-size: 1rem;
	}
	.container .card .content .sci a {
		margin: 5px;
	}
	.head11 h1 {
		font-size: 45px
	}
	#eventh1 {
		font-size: 45px
	}

}


.mygallery {
	display: flex;
	flex-direction: column;

	height: fit-content;
	background-color: #00008b;
}

.mygallery h1{
	text-align: center;
	color: white;
   }
  
   
.mygallery header{
   
   font-family: 'Dokdo', cursive;
   font-size: 30px;
   padding: 20px;
   }
   main{
		 /* margin-left: 120px; */
		   width: 100%;
		   margin-top: 40px;
		   height: fit-content;
		   

   }
   .box{
	width: 25%;
	
	float: left;
	padding: 7px;
	padding-left: 10px;  
	display: block;
   
   }
   
  .box img{
	width: 90%;
	height: 250px;
	   border-radius: 4px;
   
   }
   
   .box img:hover{
	 transform: scale(1.05,1.05);
	 transition: .3s transform;
   
   }
   @media (max-width: 768px) {
	.box {
		width: 50%;
	}
   }
   @media (max-width: 600px) {

	.box img {
		width: 96%;
		height: 200px;
	
	}

   }
   
#contact{
    position: relative;
    color: white;
    

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: url('myimage/contact_us_background.webp')  no-repeat center center / cover;
	opacity: 1;
    /* background: url('../image/.jpg'); */
    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
	width: 98%;
    padding: 14px;
    border-radius: 10px;
    font-size: 0.7rem;
    height: 31px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;

}
#name, #email, #phone, #message {
	background-color: white;
	opacity: 0.3;
	width: 28px;

}
.social {
    display: flex;
    justify-content: center;
}
.social #twt {
    margin-right: 2rem;
   
}
.social #twt img {
    height: 3rem;
    width: 3rem;

}
