/* Navigation section */
/* #navbar{
    flex-direction: column;
}
#navbar img{
    padding: 20px;
    height: 60px;
    width: 60px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px;
    padding-bottom: 4px;
    margin: 5px;
} */
/* #navbar {
    display: flex;

    
    
    background-color: rgb(17, 2, 2); 
    
    padding-top: 2rem;



}
#navbar div ul{
    order: 2;
    align-items: center;
    justify-content: center;

    
    
} */

/* #navbar div img {
    order: 1;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: auto;

} */

/* #navbar div ul li {
    display: inline-block;
    margin: auto 0.5rem;
    text-align: center;
    
}
#navbar div ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar div ul li a:hover{
    background-color: white;
    opacity: 0.6;
    color: black;
}
#slogo {
    top: 0%;
    left: 0%;
    margin-top: 2rem;
    margin-right: 1rem;
}
#slogo img {
    height: 4rem;
    width: 4rem;
} */

/* Home section */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(1, 1, 11, 0.931);

    color:white;

}
.nav-links{
    list-style: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.logo img{
    height: 5rem;
    width: 5rem;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 1.5rem;

}
.menu li {
    padding: 5px 4px;
}
.menu li:hover {
    display: inline-block;
    background-color:rgb(76, 224, 224);
    opacity: 0.6;
    transition: 0.3s ease;
   }
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   #home h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 3px 3px red;
}
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:rgb(76, 224, 224);
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: white;
   }
   #home h1 {
    font-size: 3rem;
   }
   }
#home{
    height: 32rem;
    background: url('../image/Sports-Rec.jpg')  no-repeat center center / cover;
    margin: 0%;
    
    
    /* background-color: rgb(21, 26, 24); */
    /* padding: 3px 68px; */
}



/* #home::before{
    height: 480px;
} */
/* #home p{
    font-size: 1rem;
} */
/* #home1 img {
    right: 0%;
    top: 10rem; 

}*/
#abt div {
    background-color: rgb(98, 202, 239);
    font-size: 1.1rem;
    text-align: center;
}

/* Services section */
#services{
    flex-direction: column;
}

#services .box {
    
    padding: 15px;
    margin: -27px -10px;
    margin-bottom: 59px;
   
}
#services .box div img{
    
    
    padding: 15px;
    margin: 10px;

   

}

/* Clients section */
#clients{
flex-wrap: wrap;
margin-bottom: 2px;
}
#client img{
    width: 60px;
    padding: 2px 6px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width: 30%;
}

/* Footer */


/* Utility classes */
.h-primary{
    font-size: 26px;
}
.social {
    display: flex;
    justify-content: center;
}
.social #twt {
    margin-right: 2rem;
   
}
.social #twt img {
    height: 3rem;
    width: 3rem;

}
/* .btn{
    font-size: 13px;
    padding: 4px 8px;
    justify-content: center;

} */