.loader_bg{
  position: fixed;
  z-index: 999999;
  background:rgb(231,254,255);
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* transition: all 5s linear; */
}
.lodiv{
  width: 80%;
  display: flex;
  align-items: center;
}

/* .preimg{
  height: 75px;
  width: 70px;
} */
.loader{
  border: 0 soild transparent;
  /* border-radius: 50%; */
  width: 250px;
  height: 400px;
  font-weight: bold;
  /* position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 125px); */
  font-size: 65px;
  color: #04203e;
  color: white;
}
.loadpara{
  font-size: 60px;
  color:   black;
  color: yellow;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px){
  .loader{
    font-size: 48px;
  }
  .loadpara{
    font-size: 35px;
  }

}

/* .loader:before, .loader:after{
  content: '';
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body {
	padding: 0;
	margin: 0;
  background-color:black;
}
html{
  scroll-behavior: smooth;
}

.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	/* background-color: red; */
	/* background:linear-gradient(to left,   rgb(8,8,8,1), rgb(0,0,57,1),rgb(18,10,143,1) ,rgb(0,0,205,1),rgb(18,10,143,1) ,  rgb(0,0,57,1),rgb(8,8,8,1) ); */
  /* border-bottom: 6px solid rgb(255,69,0);  */
  /* background-color: rgb(255,219,88); */
  background: linear-gradient(to left,rgb(0,0,0,0.5),rgb(0,0,0,0.5));
  box-shadow: 0px 2px 15px rgb(41, 41, 41);
  
  
    
} 
/* nav::before{
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  
  background: linear-gradient(rgb(138, 137, 137),rgb(139, 138, 138));
  backdrop-filter: blur(10px);
} */


nav .logo {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .logo1 {
	/* float: left; */
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	
	color: #fff;
	position: absolute;
	left: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 3%;
}
nav .logo1 h1{
  font-size: 20px;
}
nav .logo1 h3{
  font-size: 17px;
}
nav .logo img{
	height: 55px;
	width: 55px;
  
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
  
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0.4em;
	font-size: 14px;
	font-weight: bold;
  text-transform: uppercase;
	color: #fff;
  
	text-decoration: none;
  /* background-color: rgb(255,219,88); */
  border-radius: 10px;
  transition: all 0.4s linear;
  position: relative;
}
nav .links a::before{
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  width: 0;
  height: 2px;
 
  transition: all 0.5s linear;
}
nav .links a:hover,nav .links a:active{
  /* background-color:rgb(0, 0, 24) ; */
  /* background: linear-gradient(to right,rgb(0, 0, 24),black); */
  /* color:  rgb(0,183,235); */
  /* color: rgba(164, 164, 164, 0.159); */
}

nav .links a:hover::before{
	
  width: 100%;
  background-color:yellow;
  

}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
  /* background-color: black; */
 
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: rgb(220, 220, 220);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
  z-index: 100;
}


/* .container12 {

    

 }  */
 

.click{

    /* background:linear-gradient(#00008b 10%, #4b0082 90%); */
    
    /* background-color: rgb(0,191,255); */
    border: 0px solid rgb(0,255,255);
   background: linear-gradient(to right,rgb(0,255,255) 0%,rgb(231,254,255) 100%);
   
   
    border-radius: 10px;
   
    
   

}
.mybutton
{
  
    width:200px;

    position: relative;
    bottom: 25px;
    /* left: 60px; */
    /* top: 120px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .pulse{
    height: 78px;
    width: 230px;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    position: relative;
} */



.click:hover {

    /* background:linear-gradient(#00008bc8 10%, #4c0082c2 90%); */

    background: whitesmoke;
    border: 0px solid white;
    color: black;
    transition: 1s;
   

}

.click,.links1 {

    padding: 12px;
    
    color: black;
   

    font-size: 1.1em;
    font-weight: bold;

    font-family: futura Md BT;

    /* border: none; */

    outline: none;

    width:200px;

    /* color:; */

    transition: 0.3s;
    

}



.newlist {

    transform: scaleY(1);

}
.list {

  position: absolute;

  transform: scaleY(0);

  transform-origin: top;

  transition: 0.45s;

}

.links1 {

    /* background:linear-gradient(#c154c1 10%, #9400d3 90%); */
    border-radius: 10px;
    /* border: 4px solid whitesmoke; */
    /* border: 3px solid whitesmoke; */
    /* background: linear-gradient(to right,rgb(255,69,0,1),rgb(255,140,0,1)); */
    /* background-color: rgba(255, 255, 255, 0); */

    color: rgb(0, 0, 0);
    color: #fff;
    
    margin-top: 4px;
    border: 2.5px solid white;
    background: linear-gradient(to right,rgb(0,255,255) 0%,rgb(231,254,255) 100%);
    background: transparent;

}

.links1:hover {

    /* background:linear-gradient(#0505bd 10%, #6f05ba 90%); */
    /* background: linear-gradient(to left,rgb(255,69,0,1),rgb(255,140,0,1)); */
    background: linear-gradient(to left,rgb(0,255,255) 0%,rgb(0, 0, 0) 100%);
    transition: 0.5s;
    color: white;

    transform: scale(1.05);

}


@media screen and (max-width: 950px) {
  nav {
    /* background-color: rgba(255, 255, 255, 0); */
    /* background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3),rgb(0,0,0,0.3)); */
    /* background: none;     */
    position: fixed;
    
    height: 80px;
    z-index: 20;
    box-shadow: 0px 1.5px 15px rgb(20, 20, 20);
    
  


  }
  .nav--hidden{
    transform: translateY(-80px);
  }
	nav .logo {
		float: none;
		width: auto;
    
		/* justify-content: center; */
	}
  nav .logo img{
    z-index: 20;
  }
	nav .logo1 {
		left: 95px;
		top: 7px;
		font-size: 20px;
		width: auto;
    display: none;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 0px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: center;
		background-color: rgb(17, 16, 16); 
		/* background:linear-gradient(#00008b 10%, #4b0082 90%); */
    /* background:linear-gradient(   rgb(8,8,8,1), rgb(0,0,57,1),rgb(18,10,143,1) ,rgb(0,0,205,1),rgb(18,10,143,1) ,  rgb(0,0,57,1),rgb(8,8,8,1) ); */
		overflow: hidden;
		box-sizing: border-box;
		transition: all .4s ease-in-out;
    
	}
	nav .links a {
		font-size: 20px;
    position: relative;
    margin: 20px;
    color: yellow;
	}
	

	nav :checked ~ .links {
		bottom: 20%;
    
	}
	nav .icon-burger {
		display: block;
    z-index: 20;
    /* position: sticky; */
    /* position: fixed; */
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
  .links1{
    background: linear-gradient(to right,rgb(0,255,255) 0%,rgb(231,254,255) 100%);
    color: #000000;
  }
  .click{
    height: 55px;
  }
	
	
}
@media screen and (max-height: 500px){
  nav :checked ~ .links {
		bottom: 0%;
    
	}
  nav .links a {
    margin: 5.5px;
	}
  .click,.links1{
    height: 40px;
    padding: 2px;
    width: 195px;

  }

	

}

.container11 {
	/* position: absolute; */
	height: 98vh;
	top: 0px;
	/* background: url('myimage/spardha1back.jpg')  no-repeat center center / cover; */
  
    /* background-color:white; */

    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: rgb(0, 0, 24);
    
    background: linear-gradient(to left,black,rgb(0, 0, 24),rgb(0, 0, 24),black); */
   background: linear-gradient(to left, rgb(0,0,0,0.96),rgb(0,0,0,0.9),rgb(0,0,0,0.75),rgb(0,0,0,0.9),rgb(0,0,0,0.96));
   background-color: rgb(0,0,0);
   
   
    display: flex;
    z-index: 10;
    /* border-bottom-left-radius: 42%;
    border-bottom: 3.5px solid white; */
    /* border-bottom-right-radius: 42%; */
    
}
.first-video{
  height: 96vh;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 42%;
   border-bottom: 3.5px solid white;

}
@media (min-aspect-ratio:16/9){
  .first-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio:16/9){
  .first-video{
    width: auto;
    height: 100%;
  }
}
.containera1{
  height: 100vh;
  width: 30%;
  
  display: flex;
  flex-direction: column;
  /* background-color: #98fb9859; */
  
}
.container12{
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  z-index: 4444;
  
  

  


}
.container13{
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 4444;
  
    


}
.frontimage{
  height: 100vh;
  width: 70%;

  display: flex;
 
  flex-direction: column;
  
}

.fr-1{
  height: 20vh;
  width: 100%;
  

}
.fr-2{
  height: 25vh;
  width: 100%;
  color: white;
  z-index: 10;
  
}
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&display=swap'); */
.fr-2 h1{
  text-align: center;
  font-size: 75px;
  line-height: 55px;
  color:transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(myimage/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation:back 20s linear infinite;
  /* text-shadow: -1.5px -1.5px  white; */
  /* font-weight: bold; */
  /* font-family: 'Teko', sans-serif; */
 
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* animation: changeHead 8s infinite; */
  /* transition: all 4s linear; */
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}
.fr-2 h3{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
 
  


}

@keyframes changeHead {
  0%{
    color: white;
  }
  25%{
    color:rgba(128, 128, 128, 0.364);
  }
  50%{
    color:aqua;
  }
  75%{
    color: rgba(128, 128, 128, 0.275);
  }
  100%{
    color: white;
  }
}
.fr-3{
  height: 55vh;
  width: 100%;
  /* color: rgb(255,219,88); */
  
  /* font-family: 'Lalezar', cursive; */
  z-index: 10;
  
 

}
.fr-3A{
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  width: 100%;
}

  
  
.fr-3 p{
    font-size: 40px;
    text-align: left;
    line-height: 2em;
    text-align: center;
    color: rgba(179, 177, 177, 0.561);
    /* color: white; */
    /* font-family: 'Lalezar', cursive; */
}
.fr-3 p:hover{
  color: rgb(240, 221, 173);
}






.container11 .container13 a
{
   text-decoration: none;
   color:  rgb(0,255,255);
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
   width: 55px;
   height: 55px;
   border-radius: 35px;
   background-color: rgb(29, 29, 29);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* animation: changeColorLogo 6s linear infinite; */
   position: relative;
   
   /* margin: 0; */
  
}

  

  


 @keyframes changeColorLogo {
    0% {
      bottom: 0px;
    }
    25% {
      bottom: 12px;
    }
    75% {
      bottom: 4px;
    }
   
    100% {
      bottom: 0px;
    }
     
  

} 
.container11 .container13 a:hover
{
   /* color: rgb(0,255,255); */
   background-color: #646363;

} 
@media screen and (max-width: 950px){

  .first-video{
    height: 0vh;

    border-bottom-left-radius: 0%;
    border-bottom: 0px solid white;
    z-index: -44455;
    width: 0;
    display: none;
  }
 
  .container11{
    flex-direction: column-reverse;
    height: 150vh;
    width: 100%;
    background: none;
    border-bottom-left-radius: 0%;
    border-bottom: 0px solid white;
  }
  
  .containera1{
    height: 70vh;
    width: 100%;
    flex-direction: column-reverse;
  }
  .frontimage{
    height: 85vh;
    width: 100%;
   
    /* background: linear-gradient(to left,rgb(0,0,0,0.9),rgb(0,0,0,0.6),rgb(0,0,0,0.9)),url('./myimage/pexels-pixabay-47730.jpg') no-repeat center center / cover;  */
  }

  .container12{
    height: 50vh;
    width: 100%;
    justify-content: center;
  }
  .container13 a{
    width: 55px;
    height: 55px;
    border-radius: 25px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    position: relative;
    bottom: 25px;

  }
  .fr-1{
    height:13vh;
    width: 100%;
    
  
  }
  .fr-2{
    height: 23vh;
    width: 100%;
    color: white;
    
    
  }
  .fr-2 h1{
    font-size:65px;
    text-align: right;
    position: relative;
    right: 15px;
  }
  .fr-2 h3{
    text-align: right;
    font-size: 25px;
    position: relative;
    right: 15px;
  
  
  }
  .fr-3A{
    height:45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./myimage/IMG_8936.JPG');
    background-size: 100% 100%;
    /* animation:moback 19s linear infinite; */
    border-top: 5px solid black;

  }
  .fr-3{
    height: 45vh;
    width: 100%;
    /* color: white; */
    /* background-color: rgba(128, 128, 128, 0.153); */
    
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5),rgb(0,0,0,0.5),rgb(0,0,0,0.5),rgb(0,0,0,85));
    
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* animation: changeImage 12s linear infinite;  */
    transition: all 3s linear;
    border-bottom: 3px solid black;
    border-top: 5px solid black;
   
  } 
 

 @keyframes moback {
    0% {
      background-image: url('./myimage/IMG_8860.JPG');
      
    }
    25% {
      background-image:url('./myimage/IMG_9075.JPG') ;
    }
    75% {
      background-image: url('./myimage/WhatsApp\ Image\ 2022-12-05\ at\ 23.11.19.jpg') ;
    }
   
    100% {
      background-image:url('./myimage/IMG_8936.JPG') ;
    }
     
  

} 
    
    
.fr-3 p{
       height: 30vh;
      font-size: 25px;
      
      line-height: 2em;
      text-align: center;
      /* font-family: 'Lalezar', cursive; */
      
      
      
      
  }

}
@media screen and (max-height: 500px){
  .container11{
    height: 200vh;
  }
  .containera1{
    height: 100vh;
  }
  .container12{
    height: 70vh;
  }
  .container13{
    height: 30vh;
  }
  .frontimage{
    height: 100vh;
  }
  .fr-1{
    height: 20vh;
  }
  .fr-3{
    height: 60vh;
  }


}

/* moving gallery section */
.imgal{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgal1{
  height: 60vh;
}

.swiper{
  width: 100%;
  height: 60vh;
}

.imgal1 .swiper{
  height: 60vh;
}

.swiper-slide img{
  width: 100%;
  height: 60vh;

}

.imgal1 .swiper-slide img{
  height: 60vh;
}

.swiper .swiper-button-prev,.swiper .swiper-button-next{
  color: rgba(255, 255, 255, 0.643);
  font-size: 9px;
  font-weight: bolder;
}
.swiper .swiper-pagination-bullet-active{
  background: rgba(255, 255, 255, 0.549);
}
.allgallery{
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  
  
}
.allgallery-1{
  height: 60vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.allgallery-2{
  height: 60vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .allgallery-1-1,.allgallery-2-2{
  height: 41vh;
  width: 45%;
  margin: 10px;
}
.allgallery-1-2,.allgallery-2-1{
  height: 41vh;
  width: 45%;
  margin: 10px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)),url('./myimage/football.jpg') no-repeat center center / cover;
} */
#group-imgal1{
  height: 76vh;
  min-height: 300px;
}
#group-swiper{
  height: 76vh;
  min-height: 300px;
}
#group-swiper .swiper-slide img{
  height: 76vh;
  min-height: 300px;

}
@media  (max-height: 500px){
  .allgallery .imgal{
    min-height: 300px;
  }
  .allgallery .swiper{
    min-height: 300px;
  }
  .allgallery .swiper-slide img{
    min-height: 300px;
  }

}

@media  (max-width: 600px) {
      .imgal{
        height: 33vh;
        
        width: 90%;
      }
      .allgallery .imgal{
        min-height: 260px;
      }
      .swiper{
        height: 33vh;
      
        
      }
      .allgallery .swiper{
        min-height: 260px;
      }
      .swiper-slide img{
        height: 33vh;
        
      }
      .allgallery .swiper-slide img{
        min-height: 260px;
      }
      .allgallery{
        height: 72vh;
        min-height: 600px;
        flex-direction: column;
      }
      .allgallery-1{
        height: 36vh;
        min-height: 300px;
        width: 100%;
        align-items: center;
        justify-content: center;

        /* flex-direction: column-reverse;
        justify-content: flex-end; */
        
      }
      .allgallery-2{
        height:36;
        min-height: 300px;
        width: 100%;
        
      }
      /* .allgallery-2 .imgal{
        height:36vh;
      }
      .allgallery-2 .swiper{
        height: 36vh;
        
      }
      .allgallery-2 .swiper-slide img{
        height: 36vh;
      } */
      /* .allgallery-1-1,.allgallery-1-2{
        height: 32vh;
        width: 90%;
      }
      .allgallery-2-1,.allgallery-2-2{
        height: 0;
        width: 0;

      } */
      #group-imgal1{
        height: 36vh;
      }
      #group-swiper{
        height: 36vh;
      }
      #group-swiper .swiper-slide img{
        height: 36vh;
      
      }
}

#svg-down{
  position: relative;
  bottom: 25px;
  
}
#svg-up{
  position: relative;
  top: 15px;
}

.team-front{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 100%;
  transition: all 2.5s linear;
  background-color: #fff;
  color: rgb(89, 85, 85);
  min-height: 300px;
  
 
}
.team-front .imgal{
  width: 28%;
  height: 54vh;
  /* min-height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px;
  

 
}
.team-front .imgal-ff{
  width: 8%;
  height: 54vh;
  /* min-height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-front .imgal-ff1{
  width: 3.5px;
  height: 75%;
  background-color: rgb(109, 107, 107);
}
.team-front .swiper{
  width: 100%;
  height: 54vh;
  /* min-height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* .team-front .swiper-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.team-front .swiper-slide {
  width: 30%;
  height: 54vh;
  /* min-height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, rgb(215,0,64),  rgb(255,51,204)); */
  border-radius: 25px;
  
}
.swi-1{
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swi-1 img{
  height: 230px;
  width: 230px;
  border-radius: 50%;
  /* border-bottom-right-radius: 35%;
  border-bottom-left-radius: 35%;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%; */
  border: 2px solid white;
  /* transform: rotate(45deg); */
}
.swi-2{
  height: 5vh;
  width: 100%;
}

.swi-3{
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.swi-2 h3{
  text-align: center;
  font-size: 23px;
  font-family: 'Alata', sans-serif;
  color: #04203e;
  /* margin-bottom: 10px; */

  
}
.swi-3 h3{
  text-align: center;
  font: 16px;
  font-family: 'Kalam', cursive;
}
.swi-4{
  height: 0;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  
}
.swi-4 h1{
  font-size: 25px;
  display: none;
}
/* .team-front .swiper-slide:hover .swi-4{
  height:11vh ;
  width: 100%;
  display: block;
  transition: all 2.5s linear;

}
.team-front .swiper-slide:hover .swi-4 h1{
  display: block;
}
.team-front .swiper-slide:hover .swi-2, .team-front .swiper-slide:hover .swi-3{
  height: 0;
  display: none;
  transition: all 2.5s linear;

} */
@media  (max-height: 500px){
  .swi-1 img{
    height: 120px;
    width: 120px;
  }
} 
@media  (max-width: 500px) {
  .team-front{
    flex-direction: column;
    height: 115vh;

  }
  .team-front .imgal{
    width: 80%;
    height: 49vh;
  }
  .team-front .swiper{
    height: 47vh;
  }
  .team-front .swiper-slide{
    height: 49vh;
    width: 100%;
  }
  .swi-1{
    height: 34vh;
    width: 100%;
  }
  .swi-1 img{
    height: 250px;
    width: 250px;
  }

  .swi-2{
    height: 4vh;
    width: 100%;
  }.swi-3{
    height: 8vh;
    width: 100%;
  }
  .team-front .imgal-ff{
    height: 2vh;
    width: 100%;
  }
  .team-front .imgal-ff1{
    height: 3px;
    background-color: rgb(90, 89, 89);
    width: 70%;
  }
}





/* about section */

.about {
	/* background-color: rebeccapurple; */
	height: 115vh;
	display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  


}
.abt-1 {
	
    height: 100vh;
    width: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;

}
.about-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.abt-1-1 h1{
	/* position: relative; */
    text-align: center;
    /* top: -43px;
    left: 49px; */
	font-size: 45px;
  color: white ;
  position: relative;
  
  
  

}
.abt-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}




.abt-1-2 {
 
  text-align: center;
  /* background-color: white; */
  height: 66vh;
  width: 100%;
  min-height: 450px;
  
 
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abt-1-2 p {
  width: 75%;
	font-size: 22px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
  color: white;
  
}
.btn,.mbtn {
	/* background: linear-gradient(to right,rgb(0,0,128)  ,rgb(0,0,54)); */
  background-color: rgba(255, 255, 255, 0);
	border-radius: 3px;
	font-size: 19px;
	color: rgba(0, 255, 255, 0.871);
	height: 42px;
    width: 117px;
    border: 0px;
    margin-top: 35px;
    
    border: 2.5px solid rgb(52, 51, 51);
    position: relative;
    
    
    /* box-shadow: 0.6em 0.6em 1.2em #d2dce9,
    -0.5em -0.5em 1em #ffffff; */
    
	
}
/* .btn::before,.mbtn::before{
  content: "";
  position: absolute;
  background-color:  rgba(255, 235, 205, 0.504);
  width: 0%;
  height: 0px;
  border-radius: 3px;
  
  left: 0;
  top: 0%;
  transition: all 0.3s linear;
} */

.mbtn{
  margin: 0;
}
.btn:hover,.mbtn:hover{
  color:  rgb(245,255,250);
  border: 3px solid  rgb(245,255,250);
  transition: 0.05s;
  
  
}
/* .btn:hover::before,.mbtn:hover::before{
  width: 96%;
  height: 35px;
  border: 4px solid darkslategray;
} */

.abt-2 {
	
	height: 100vh;
	width: 37%;
	z-index: -1;
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
}
.abt-2 .p1{

  
  height: 48vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-3{
  height: 2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-3-1{
  width: 65%;
  height: 3px;
  background-color: rgb(208, 204, 204);

}
.abt-2 .p1 .p11{
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.abt-2 .p1 .p11 img{
  height: 160px;
  width: 160px;
 border-radius: 50%; 
 border: 2.5px solid white;
}
.pname {
  text-align: center;
  color: rgb(248, 245, 245);
  font-size: 16px;
}
.pname h2{
  font-family: 'Alata', sans-serif;
  color:  rgb(10,186,181);
}
.ppos {
  text-align: center;
  color: rgb(143, 140, 140);
  font-size: 12px;

}
.ppos h2{
  font-family: 'Kalam', cursive;

}
@media  (max-width: 950px) 
{
	.about{
		height: 200vh;
    min-height: 1400px;
    flex-direction: column;
	}
  .abt-1{
    height: 90vh;
    /* min-height: 500px; */
    width: 100%;
  }
   .abt-2{
    height: 100vh;
    width: 100%;
  }
  .abt-1 .about-1-1{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
	.abt-1-2 {
		height: 70vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
		
	}

	.abt-1-2 p {
		font-size: 19px;
    text-align: left;

    
	}
	.btn {
		height: 35px;
		width: 90px;
		font-size: 16px;
	}
	.abt-1-1 h1 {
		font-size: 30px;
	}
}

/* incharge section */
.imgcontainer {
    height: 320px;
    width: 260px;
    
    position: absolute;
    right: 100px;
    top: 148px;
}
.image1 {
    height: 230px;
    width: 260px;
    /* background-color: blue; */

}
.image1 img{
    height: 230px;
    width: 200px;
    border-radius: 100%;
}
@media screen and (max-width: 768px){
  .about{
    flex-direction: column;

  }
  .abt-2 {
	
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
  }
  .abt-2 .p1{
  
    
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .abt-2 .p1 .p11{
    padding: 15px 12px;
  }
  .abt-2 .p1 .p11 img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid rgb(220, 219, 219);
  }
  .abt-2 .p1 .p11 .pname {
    text-align: center;
    color: rgb(214, 212, 212);
  }
  .abt-2 .p1 .p11 .ppos {
    text-align: center;
    color: rgb(143, 140, 140);
  }
  

}

/* achievements section */
/* .achievements{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.achieveimg{
    width: 60%;
    height: 460px;
    background-image: url("myimage/chess.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 20s linear infinite;
}

@keyframes changeImage {
    0% {
        background-image: url("myimage/chess.jpg");
    }
    33% {
        background-image: url("myimage/football.jpg");
    }
    66% {
        background-image: url("myimage/high.webp");
    }
    /* 75% {
        background-image: url("myimage/khokho.jpg");
    } 
    100% {
        background-image: url("myimage/run.jpg");
    }
    
  

} */

/* about section */

.meabout{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
  
}
.meabout-1{
  height: 60vh;
  width: 55%;
  background-color: #007bffdd;
  overflow: hidden;
}
.meabout-2{
  height: 60vh;
  width: 35%;
  /* background-color: #074465; */
  background-image: url("myimage/run.jpg");
  background-size: 100% 100%;
  animation: changevollyball 30s linear infinite;
  
}
@keyframes changevollyball {
  0% {
    /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/pexels-pixabay-47730.jpg') no-repeat center center / cover; */
    background-image: url(myimage/WhatsApp\ Image\ 2022-12-05\ at\ 23.11.19.jpg);
  }
  12.5% {
      background-image: url(myimage/IMG_8860.JPG);
      /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/high.webp') no-repeat center center / cover; */
  }
  25% {
      background-image: url(myimage/IMG_8936.JPG);
      /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/football.jpg') no-repeat center center / cover; */
  }
 
  37.5% {
      background-image: url(myimage/IMG_9075.JPG);
    /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/pexels-pixabay-47730.jpg') no-repeat center center / cover; */
  }
  50% {
      /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/pexels-pixabay-47730.jpg') no-repeat center center / cover; */
      background-image: url(myimage/WhatsApp\ Image\ 2022-12-05\ at\ 23.11.19.jpg);
    }
  62.5% {
        background-image: url(myimage/IMG_8860.JPG);
        /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/high.webp') no-repeat center center / cover; */
    }
  75% {
        background-image: url(myimage/IMG_8936.JPG);
        /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/football.jpg') no-repeat center center / cover; */
    }
   
  87.5% {
        background-image: url(myimage/IMG_9075.JPG);
      /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/pexels-pixabay-47730.jpg') no-repeat center center / cover; */
    }
  100% {
      /* background: linear-gradient(rgb(0,0,0,0.95),rgb(0,0,0,0.8),rgb(0,0,0,0.6),rgb(0,0,0,0.8),rgb(0,0,0,0.95)),url('./myimage/pexels-pixabay-47730.jpg') no-repeat center center / cover; */
      background-image: url(myimage/WhatsApp\ Image\ 2022-12-05\ at\ 23.11.19.jpg);
    } 


} 


/* 
out team work section */

.mainswork{
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('myimage/grpimg-3.jpg') no-repeat center center / cover; */
  animation: changevollyball 30s linear infinite;
  background-image: url("myimage/run.jpg");
  background-size: 100% 100%;

}

.swork{
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  background: linear-gradient(to left, rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35));
  /* animation: changevollyball 30s linear infinite;
  background-image: url("myimage/run.jpg");
  background-size: 100% 100%; */

}
.swork-1{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swork-2{
  width: 80%;
}
.swork-3{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swork-3 button{
  height: 35px;
  width: 200px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.272);
  border: 0px solid white;
}
.swork-3 button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.swork-1 h1{
  font-size: 40px;
  color: white;
  font-family:'Rowdies', cursive;
}
.swork-2 p{
  color: rgba(254, 253, 253, 0.577);
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 450px){
  .mainswork{
    height: 65vh;
    max-height: 600px;
  }
  .swork{
    height: 65vh;
    max-height: 600px;
  }
  .swork-1 h1{
    font-size: 30px;
  }
}
/* we do section */

.wedo{
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wedo-h{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
  width: 100%;
}
.wedo-h h1{
  position: relative;
  width: 100%;
  text-align: center;
}
.wedo-p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 65%;
}
.wedo-p p{
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
}

@media screen and (max-width: 830px){

  .wedo-p{
    height: 60vh;
    width: 85%;
    min-height: 300px;
  }
  .wedo-h{
    
    height: 10vh;
  }
  .wedo-p p{
    font-size: 15px;
  }
}


/* event section */

.event-start{
  /* height: 55vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background: linear-gradient(to left,black,rgb(0, 0, 24),rgb(0, 0, 24),black); */
  /* background-color:rgb(0, 0, 24) ; */
  /* border-bottom: 7px solid rgb(0, 0, 24); */
  background-color:rgb(0,0,0);
}
.event-start-1{
  width: 100%;
  /* height: 45vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  top: 50px;
 
  

}
/* .event-start .myimage{
  
  
  position: relative;
  bottom: 80px;
} */
.event-start-2{
  width: 70%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* font-family: 'Raleway', sans-serif; */
  /* background: linear-gradient(to left,black,rgb(0, 0, 24),rgb(0, 0, 24),black); */
  /* background-color:  rgb(27, 26, 26); */
  /* border-radius: 20px; */
  /* border: 7px solid white; */
  /* position: relative;
  bottom: 90px; */
  
}
#ev-st-1,#ev-st-3{
  bottom: 0;
}
.event-start-2 p{
  width:75%;
  /* height: 32vh; */
  text-align:left;
  vertical-align: middle;
  font-size: 15px;
  /* line-height: 24px; */
  color: white;
  
  letter-spacing: 1px;
  /* padding: 14px; */
  font-family: 'Raleway', sans-serif;
}
.event-start-2 h1{
  color: white;
  
  width: 100%;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 830px){
  .event-start{
    height: 120vh;
  }
  .event-start-1{
    height: 120vh;
    flex-direction: column;
    justify-content: center;
  }

  .event-start-2{
    width: 100%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    height: 55vh;
    bottom: 0px;
    color: white;
  }
  .event-start-2 h1{
    color: white;
    text-align: center;
    /* margin-left: 15px; */
    font-size: 35px;
    
  }
  .event-start-2 p{
    width: 85%;
    font-size: 16px;
    /* margin-left: 15px; */
  }

}
.event-start-head{
  position: relative;
  height: 15vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.event-start-head h1{
  color: white;
  text-align: center;
  font-size: 35px;

}

.box{
  height: 130vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* background:linear-gradient(to left,   rgb(8,8,8,1), rgb(0,0,57,1),rgb(18,10,143,1) ,rgb(0,0,205,1),rgb(18,10,143,1) ,  rgb(0,0,57,1),rgb(8,8,8,1) ); */
  background-color: rgb(0,0,0) ;
  /* border-bottom: 3px solid white; */
}
.allevents{
  height: 80vh;
  width: 80%;
  
  position: absolute;
  display: flex;
  
  
  



}
.line11{
  /* background: linear-gradient(rgb(255,8,0),  rgb(255,99,71)); */
  background-color: rgb(185, 183, 183);
  background-color: white;
  background: linear-gradient(to right,black,rgb(146, 146, 146));
  
  /* background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0)); */
  
  height: 80vh;
  width: 12%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transition: all 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
 
  
}
.line11 h1 i,.line12 h1 i,.line13 h1 i,.line14 h1 i{
  display: none;
  font-size: 25px;
}
.line15 h1 i{
  /* color: black; */
  display: none;
  font-size: 25px;
}
/* .line11 .ll1, .line11 .ll2 img{
  visibility: hidden;
  display: none;
} */

.line12{
  /* background: linear-gradient( rgb(0,255,0),  rgb(118,255,122)); */
  background-color:  rgb(151, 151, 146);
  background-color: white;
  background: linear-gradient(to right,black,rgb(146, 146, 146));
  
  /* background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0)); */
  /* box-shadow: -15px 0px 25px rgb(201, 200, 200); */
 
  height: 80vh;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s linear;
 
}
.line13{
  /* background: linear-gradient( rgb(0,255,255), rgb(164,244,249)); */
  background-color: rgb(185, 183, 183);
  background: linear-gradient(to right,black,rgb(146, 146, 146));
  
  /* background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0)); */
 
  height: 80vh;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s linear;
  
}
.line14{
  /* background: linear-gradient(rgb(255,255,0),    rgb(252,247,94));  */
  background-color:  rgb(151, 151, 146);
  background: linear-gradient(to right,black,rgb(146, 146, 146));
  
  /* background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0)); */
  /* border-bottom: 3px solid aqua;
  border-top: 3px solid aqua;
  border-left: 3px solid aqua; */
  height: 80vh;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s linear;
  
}
.line15{
  /* background: linear-gradient(rgb(255,20,147), rgb(255,193,204)); */
  
  background:rgb(234, 231, 231);
  background: linear-gradient(to right,black,rgb(146, 146, 146),black);
  /* background: linear-gradient(to left,rgb(0,255,255), rgb(63,255,0)); */
   
  height: 80vh;
  width: 52%;
  font-family: 'Concert One', cursive;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  transition: all 1s linear;
  
}
.line15 .ll5{
  color: white;
  font-family: 'Concert One', cursive;
  word-wrap: normal;
  text-align:center;
  height: 15vh;
}
.line15 .ll5a{
  /* background: url('myimage/footballPoster.jpg')  no-repeat center center / cover; */
  height: 55vh;
  width: 75%;
}
.line15 .ll5a img{
  height: 100%;
  width: 100%;
}
.ll1,.ll2,.ll3,.ll4{
  width: 75%;
  height: 15vh;
  /* background-color: blue; */
  visibility: hidden;
  display: none;
}
.ll1,.ll2,.ll3,.ll4{
  height: 65vh;
  width:10%;
  display: block;
  visibility: visible;
}
.ll1 h1,.ll2 h1,.ll3 h1,.ll4 h1{

  color:  rgb(139,0,0);
  color: white;
  /* text-shadow: 2px 2px rgb(218, 217, 217); */
  font-family: 'Concert One', cursive;

  word-wrap: break-word;
  text-align:center;
  
 
  
}
.line11:hover .ll1 h1,.line12:hover .ll2 h1,.line13:hover .ll3 h1,.line14:hover .ll4 h1{
  color: #074465;
  text-shadow: 0px 0px rgb(71, 70, 70);
  
}
.line15 .ll5 h1{
  text-align: center;
  font-family: 'Concert One', cursive;
}
.line152 .ll5 h1{
  color:  white;
  
  
}

.ll1a,.ll2a,.ll3a,.ll4a{
  width: 0%;
  height: 55vh;
  
 

}
/* .line11 .ll1{
  visibility: hidden;
  display: none;
} */
/* .line11 .ll1a img{
  height:50vh ;
  width: 100%;
  visibility: hidden;
  display: none;
} */
.line11 .ll1a,.line12 .ll1a,.line12 .ll2a,.line13 .ll3a,.line14 .ll4a{
  height: 55vh;
  width: 85%;
  /* background-color: red; */
  overflow: hidden;
  visibility: hidden;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url('myimage/khokhoPoster.jpg')  no-repeat center center / cover; */
}
.line11 .ll1a img,.line12 .ll1a img,.line12 .ll2a img,.line13 .ll3a img,.line14 .ll4a img{
  height: 100%;
  width: 100%;
}

.line11:hover,.line12:hover,.line13:hover,.line14:hover{
  flex-direction: column;
  
}
.line11:hover .ll1, .line11:hover .ll1a,.line12:hover .ll2, .line12:hover .ll2a,.line13:hover .ll3, 
.line13:hover .ll3a,.line14:hover .ll4, .line14:hover .ll4a{
  visibility: visible;
  display: block;

}
.line11:hover .ll1,.line12:hover .ll2,.line13:hover .ll3,.line14:hover .ll4{
  height: 15vh;
  width: 75%;
  
}
.line11:hover,.line12:hover,.line13:hover,.line14:hover{
  background:white;
}
/* .line11:hover .ll1a{
  width: 75%;
} */
.line11:hover .ll1 h1{
  word-wrap: normal;
}

.line152{
  
  height: 80vh;
  width: 12%;
  transition: 1s;
  
  
}

.line112{
  
  height: 80vh;
  width: 52%;
  transition: 1s;
}
.line152 .ll5{
  height: 65vh;
  width:10%;
  display: block;
  visibility: visible;
  transition: all 1s linear;
  
}

.line152 .ll5a{
  width: 0%;
  height: 0;
}
.line152 .ll5a img{
  height: 0;
  width: 0;
  display: none;
}
.line152 .ll5 h1{

  word-wrap: break-word;
  text-align: center;
}
/* .line12:hover {
  width:52% ;
} */

/* .line11:hover, .line12:hover, .line13:hover,.line14:hover{
  width: 52%;
 
  transition: 2s;
}
.line11:hover~.line15, .line12:hover~.line15, .line13:hover~.line15,.line14:hover~.line15{
  
  width: 12%;
  transition: 2s;
} */
@media (max-height: 500px){
  .ll1 h1,.ll2 h1,.ll3 h1,.ll4 h1,.line15 .ll5 h1{
    font-size: 20px;
  }

}

@media (max-width: 500px) {
  .box{
    height: 100vh;
  }
  .allevents{
      height: 85vh;
      flex-direction: column;
      width: 96%;
  }
  .line11,.line12,.line13,.line14{
      height: 8vh;
      width: 100%;
      background: linear-gradient(to bottom,black,rgb(146, 146, 146));
      /* background: linear-gradient(to top,rgb(0,255,255), rgb(63,255,0)); */
     
  }
  .line11{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* background-color: rgb(75, 75, 75); */
    
    /* border-bottom: 3.5px solid white; */
  }
  
  .line15{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(to bottom,black,rgb(146, 146, 146),black);
    /* background-color:  rgb(242,243,244);
    background: linear-gradient(to top,rgb(0,255,255), rgb(63,255,0)); */
    
   
    /* border-bottom: 3.5px solid white; */
  }
  .line15{
      height: 53vh;
      width: 100%;
  }
  .line15 .ll5a{
    width: 96%;
    height: 45vh;
  }
  .line152 .ll5{
    height: 8vh;
    width: 100%;
    
  }
  .line152 .ll5 h1{

    word-wrap: normal;
    text-align: center;
    
  }
  .line152 .ll5 h1 i{
    display: inline;
  }
  .ll1,.ll2,.ll3,.ll4{
      height: 8vh;
      width: 100%;
  }
  .ll1 h1,.ll2 h1,.ll3 h1,.ll4 h1{
      word-wrap: normal;
      text-align: center;
      font-size: 27px;
  }
  .line152 .ll5 h1,.line15 .ll5 h1{
    font-size: 27px;
  }
  .line11 h1 i,.line12 h1 i,.line13 h1 i,.line14 h1 i{
    display: inline;
  }
  .line11:hover h1 i, .line12:hover h1 i, .line14:hover h1 i, .line13:hover h1 i{
    display: none;
  }
  .line11 .ll1a,.line12 .ll2a,.line13 .ll3a,.line14 .ll4a{
    width: 96%;
  }
  .line152{
  
      height: 8vh;
      width: 100%;
      transition: 1s;
      
  }
  .line11 .ll1a{
    width: 96%;
  }
  .line112{
      
      height: 53vh;
      width: 100%;
      transition: 1s;
      /* background: white; */
  }
  
}

.eventdown{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.eventdown-1{
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color:black;


}
.postb-1{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 100%;
  background-color:black;
  color: white;
  position: relative;

}
#gli{
  margin-bottom: 80px;
  color: white;
  

}
@media (min-height:1000px ) and (max-width:850px){
  .box{
    height: 100vh;
  }
  .allevents{
      height: 85vh;
      flex-direction: column;
      width: 96%;
  }
  .line11,.line12,.line13,.line14{
      height: 8vh;
      width: 100%;
      background: linear-gradient(to bottom,black,rgb(146, 146, 146));
      /* background: linear-gradient(to top,rgb(0,255,255), rgb(63,255,0)); */
     
  }
  .line11{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* background-color: rgb(75, 75, 75); */
    
    /* border-bottom: 3.5px solid white; */
  }
  
  .line15{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(to bottom,black,rgb(146, 146, 146),black);
    /* background-color:  rgb(242,243,244);
    background: linear-gradient(to top,rgb(0,255,255), rgb(63,255,0)); */
    
   
    /* border-bottom: 3.5px solid white; */
  }
  .line15{
      height: 53vh;
      width: 100%;
  }
  .line15 .ll5a{
    width: 96%;
    height: 45vh;
  }
  .line152 .ll5{
    height: 8vh;
    width: 100%;
    
  }
  .line152 .ll5 h1{

    word-wrap: normal;
    text-align: center;
    
  }
  .line152 .ll5 h1 i{
    display: inline;
  }
  .ll1,.ll2,.ll3,.ll4{
      height: 8vh;
      width: 100%;
  }
  .ll1 h1,.ll2 h1,.ll3 h1,.ll4 h1{
      word-wrap: normal;
      text-align: center;
      font-size: 27px;
  }
  .line152 .ll5 h1,.line15 .ll5 h1{
    font-size: 27px;
  }
  .line11 h1 i,.line12 h1 i,.line13 h1 i,.line14 h1 i{
    display: inline;
  }
  .line11:hover h1 i, .line12:hover h1 i, .line14:hover h1 i, .line13:hover h1 i{
    display: none;
  }
  .line11 .ll1a,.line12 .ll2a,.line13 .ll3a,.line14 .ll4a{
    width: 96%;
  }
  .line152{
  
      height: 8vh;
      width: 100%;
      transition: 1s;
      
  }
  .line11 .ll1a{
    width: 96%;
  }
  .line112{
      
      height: 53vh;
      width: 100%;
      transition: 1s;
      /* background: white; */
  }
  
}

.eventdown{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.eventdown-1{
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color:black;


}

@media (max-width: 800px){

  
  #gli .postb-1{
    background-color: #000000;
    color: white;
  }
  #gli .eventdown-1{
    /* background-color: white; */
    position: relative;
    bottom: 1px;
  }
}


/* 
gallery section */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #007bff;
}
gallerybody{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper{
  max-width: 1100px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery .image{
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0px;
}
.slide.next{
  right: 0px;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}

@media(max-width: 1000px){
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .image{
    width: 100%;
    padding: 4px;
  }
}

/* contact section style */

.contact-section{
  height: 65vh;
  background-color:  rgb(0,0,0);
  z-index: 8;
  display: flex;
  color: white;
}
.cont-1{
  height: 65vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.cont-1 img{
  height: 70px;
  width: 70px;

}
.cont-23{
  height: 65vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  
}
.cont-2{
  height: 65vh;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  

  
}
.cont-3{
  height: 65vh;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cont-3 ul , .cont-2 ul {
  list-style: none;

}
.cont-3 ul li , .cont-2 ul li{
   margin-top: 10px;
}
.cont-3 ul li a, .cont-2 ul li a{
  text-decoration: none;
  margin-bottom: 10px;
  color: rgb(152, 150, 150);
  font-size: 17px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.cont-3 ul li a{
  font-size: 15px;
}
.cont-3 ul li a:hover, .cont-2 ul li a:hover{
  color:   rgb(245,255,250);
  
}

.contact-section .cont-4{
  height: 65vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.contact-section .cont-4 h1{
  color:white;
  font-family: 'Open Sans', sans-serif;
}
.contact-section .cont-4 ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  

  
}
.contact-section .cont-4 ul li{
   margin: 12px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: aqua; */
    /* border: 2.5px solid white; */
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact-section .cont-4 ul li:hover{
  background-color:rgb(6, 203, 203);
  color: white;
}
.contact-section .cont-4 ul li a{
  font-size: 30px;
  color: rgb(238, 236, 236);
  
}
.contact-section .cont-4 ul li a:hover{
  color: white;
}
.cont-lo-div{
  height: 50vh;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cont-lo-div-1{
  height: 25%;
  width: 1.5px;
  background-color: rgb(176, 172, 172);
}
@media(max-width: 920px){
  .contact-section{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    min-height: 800px;

  }
  .cont-1{
    width: 100%;
    height: 20vh;
    min-height: 150px;
  }
  .cont-lo-div{
  height: 20vh;
  width: 10%;
  
}
.cont-lo-div-1{
  height: 50%;
  width: 3px;
  background-color: white;
}
  .cont-23{
    width: 100%;
    height: 60vh;
    flex-direction: column;
    min-height: 520px;
  }
  .cont-2{
    height: 25vh;
    min-height: 255px;
    width: 100%;
    align-items: flex-start;
    /* margin-left: 45px; */
  }
  .cont-2 ul,.cont-3 ul{
    margin-left: 35px;
  }
  .cont-2 h2,.cont-3 h2{

    margin-left: 20px;
  }
  .cont-3{
    height: 35vh;
    width: 100%;
    min-height: 255px;
    align-items: flex-start;
    /* margin-left: 45px; */
  }
  .contact-section .cont-4{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact-section .cont-4 ul{
    width: 100%;
  }
  
  .contact-section .cont-4 ul li{
    margin: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section .social-icons{
    width: 100%;
  }
  .contact-section .cont-4 ul li a{
    font-size: 20px;
    /* color: white; */
   
   
  }
  .cont-4 h1{
    font-size: 22px;
    width: 100%;
    text-align: center;
  }
}

.last-div{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;

}
.hor-line{
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hor-line-1{
  height: 2px;
  width: 85%;
  background-color: rgb(85, 84, 84);
}


/* all headings */
 .abt-1-1 h1::before,.event-start-head h1::before, .postb-1 h1::before,.wedo-h h1::before,.event-start-2 h1::before{
  content: " ";
  display: block;
  position: absolute;
  right: 50%;
  top: 100%;
  height: 2.5px;
  width: 2.5%;
  background-color: rgb(0,255,255);
  z-index: 2;
  transition: all 0.5s linear;

} 
@media(min-width: 600px){
.abt-1-1 h1,.event-start-head h1, .postb-1 h1,.wedo-h h1,.event-start-2 h1{
  font-size: 50px;
  font-weight: bold;
}
}



.abt-1-1 h1::after,.event-start-head h1::after,.postb-1 h1::after,.wedo-h h1::after,.event-start-2 h1::after{
  content: " ";
  position: absolute;
  display: block;
  left: 50%;
  top: 100%;
  height: 2.5px;
  width: 2.5%;
  background-color: rgb(0,255,255);
  z-index: 2;
  transition: all 0.5s linear;
} 
/* .abt-1-1 h1 span,.event-start-head h1 span,.postb-1 h1,.wedo-h h1 span,.event-start-2 h1{
  font-family: 'Rowdies', cursive;

} */
.postb-1 h1::after,.postb-1 h1::before{
  top: 60%;
}
#gli .postb-1 h1::after,#gli .postb-1 h1::before{
  top: 75%;
}
.abt-1-1 h1 span,.event-start-head h1 span{
  background-color: #000000;
  
}
.abt-1-1 h1::after,.abt-1-1 h1::before{
  z-index: -2;
}
.postb-1 h1 :hover .postb-1 h1::after, .postb-1:hover::before h1{
  width: 35%;
}

.event-start-2 h1:hover::after,.event-start-2 h1:hover::before,.wedo-h h1:hover::after,.wedo-h h1:hover::before,.abt-1-1 h1:hover::before,.abt-1-1 h1:hover::after,.postb-1 h1:hover::before,.postb-1 h1:hover::after,.event-start-head h1:hover::before,.event-start-head h1:hover::after{
  background-color:  rgb(0,255,255);
  width: 10%;
}
.postb-1 h1{
  width: 100%;
  text-align: center;
}
.wedo-h{
  color: white;
}
@media(max-height: 500px){
  #gli .postb-1 h1::after,#gli .postb-1 h1::before{
    top: 75%;
  }

}
@media(max-width: 768px){
  /* .abt-1-1 h1::before{
    left: 10%;
  }
  .abt-1-1 h1::after{
    right: 10%;
  }  */
  .abt-1-1 h1::after,.event-start-head h1::after,.postb-1 h1::after,.wedo-h h1::after,.event-start-2 h1::after{
    
    width: 6.5%;
    height: 2.8px;
  }
  .abt-1-1 h1::before,.event-start-head h1::before, .postb-1 h1::before,.wedo-h h1::before,.event-start-2 h1::before{
    
    width: 6.5%;
    height: 2.8px;
  }
  .wedo-h h1:hover::after,.wedo-h h1:hover::before,.abt-1-1 h1:hover::before,.abt-1-1 h1:hover::after,.postb-1 h1:hover::before,.postb-1 h1:hover::after,.event-start-head h1:hover::before,.event-start-head h1:hover::after,.event-start-2 h1:hover::after,.event-start-2 h1:hover::before{
    background-color:  rgb(0,255,255);
    width: 18%;
  }

}
.abt-1-1 h1 span,.event-start-head h1 span,.postb-1 h1,.wedo-h h1 span,.event-start-2 h1{
  font-family:'Rowdies', cursive;

}
.cl-gmail{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  width: 100%;
  flex-direction: column;
}
.cl-gmail h2{
  color: white;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
.cl-gmail a{
  color: rgb(152, 150, 150);
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}

.blank-space{
  background: black;
  height: 5vh;
}